*.pyc
3rdparty/llvm-py/www
3rdparty/llvm-py/build
3rdparty/pylibs/llvm
src/compiler/grammar/exoselfLexer.py
src/compiler/grammar/exoselfParser.py
src/compiler/grammar/exoself.tokens
src/compiler/grammar/exoself__.g
tests_tmp/*
.lock-wscript
.waf-*
doc/build/*
